#labelOfTextforTodos {
    font-size: 24px;
}
ol {
    background: lightgrey;
    padding: 20px;
    width: 400px;
    list-style: none;
}
ol li {
    background: white;
    padding: 20px;
    margin: 10px auto
}
.error {
    border: 2px solid red;
}
.success {
    border: 2px solid green;
}
